.row {
  margin-top: 20px;
  margin-left: 30px;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row__posters::-webkit-scrollbar {
  display: none;
}
.row__poster {
  height: 150px;
  width: 200px;
  aspect-ratio: 16/9;
  margin-right: 20px;
  transition: transform 450ms;
}

.row__poster:hover {
  transform: scale(1.1);
}
